In [196]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

# Reading our Immoweb dataset in 'df'.
df = pd.read_csv('../data/merged_data.csv')

# Instantiating LinearRegression as 'reg'.
reg = LinearRegression()

# Filling NaN values with 0.
df['landplot'].fillna(0, inplace=True)
df['facades'].fillna(0, inplace=True)
df['Living area'].fillna(0, inplace=True)
df = df.join(pd.get_dummies(df['condition']).astype(int)) 
df = df.join(pd.get_dummies(df['subtype']).astype(int))
df = df.join(pd.get_dummies(df['province']).astype(int))
df = df.join(pd.get_dummies(df['Zip code']).astype(int))
#df = df.join(pd.get_dummies(df['city'], ).astype(int))
df.drop(['type', 'condition', 'province', 'subtype', 'Zip code', 'city', 'facades', 'Terrace'], axis=1, inplace=True)

display(df.head(10))
#sns.heatmap(df.corr(), annot=True, cmap='Purples')

# Defining 'X' and 'y' variables from our dataframe using purely features that contain numerical data.
X = df.drop(['price'], axis=1).to_numpy()
y = df['price'].to_numpy()

# Reshaping 'y' to be 2D array.
y = y.reshape(-1, 1)

# Setting up 'train_test_split' to get standardized training/testing sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

# Training our model.
reg.fit(X_train, y_train)

# Displaying score of Training variables.
print("Training score:", reg.score(X_train, y_train)) 

# Predicting the 'y' target value (Price).
y_prediction = reg.predict(X_test)
# Displaying the score of Testing variables
print("Testing score:", reg.score(X_test, y_test))
print("Using 7 features; 'Bedroom count', 'Living surface area', 'Landplot area', 'Housing type', 'Condition', 'Province, and 'Terrace' and 1 (price)target")

,Kitchen,price,bedrooms,Living area,landplot,as new,good,just renovated,to be done up,to renovate,...,9920,9930,9940,9950,9961,9968,9980,9990,9991,9992
0,1.0,335000.0,0.0,58.0,0.0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1.0,1400000.0,2.0,220.0,0.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1.0,289000.0,2.0,80.0,0.0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1.0,606000.0,3.0,220.0,0.0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,1.0,580000.0,4.0,179.0,80.0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
5,1.0,340000.0,4.0,150.0,0.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0.0,330000.0,2.0,105.0,0.0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,1.0,1200000.0,3.0,568.0,196.0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0.0,495000.0,2.0,158.0,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0.0,800000.0,8.0,420.0,0.0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

Training score: 0.6859327584628705
Testing score: 0.6520919770909717
Using 7 features; 'Bedroom count', 'Living surface area', 'Landplot area', 'Housing type', 'Condition', 'Province, and 'Terrace' and 1 (price)target